body {
    background: #FED550;
  }

.square {
    height: 50px;
    width: 50px;
    background-color: #555;
}

.done {
    text-decoration: line-through;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }